<div class=".container-fluid">
    <!-- Content here -->

    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-6">
            <h2>Add a Movie Collection</h2>
        </div>
        <div class="col-sm-6 text-right align-bottom">

        </div>
    </div>

    <div class="row">
        <div class="col-sm col-md">

            <form>
                <div class="form-group">
                    <label for="collectionName">Collection Name</label>
                    <input type="text" class="form-control" id="collectionName" placeholder="Collection Name" ng-model="collection.name">
                </div>
                <div class="form-group">
                    <label for="collectionGenre">Collection Genre</label>
                    <select class="form-control" id="collectionGenre" ng-model="collection.genre">
                        <option ng-repeat="genre in collectionGenres">{{genre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="createCollection()">Create Collection</button>
                </div>
            </form>
        </div>
    </div>

</div>
