<div class=".container-fluid">
    <!-- Content here -->

    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-6">
            <h2>Movie Collections</h2>
        </div>
        <div class="col-sm-6 text-right align-bottom">

        </div>
    </div>

    <div class="row">
        <div class="col-sm col-md">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCollectionName" class="col-form-label">Collection Name</label>
                        <input type="text" class="form-control" id="inputCollectionName" placeholder="Collection Name" ng-model="addCollection.collectionName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputCollectionGenre">Genre</label>
                        <select class="form-control" id="inputCollectionGenre" ng-model="addCollection.genre">
                            <option value="0">Select a Genre</option>
                            <option ng-repeat="option in collectionGenres">{{option}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    Add type-ahead to search for movies for collection<br>
                    List out movies in collection
                </div>
                <button type="submit" class="btn btn-primary">Create Collection</button>
            </form>

        </div>
    </div>

</div>
